:root {
    --primary-color: #fd671a;
    --second-color:#cf4a07;
  }

.logo{
    width: 8rem;
    border: 0;   
}
.buscar{
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: aliceblue;
}

/* Invisible texto */
figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }
  .buscar:hover{
    background-color: var(--second-color);
    border: var(--second-color);
    color: aliceblue;
}

.buscar:active{
  background-color: var(--second-color);
  border: var(--second-color);
  color: aliceblue;
}
.btnn{
  text-align: center;
}
.active:hover{
  
  .menuprincipal{
    color: var(--primary-color);
  }
}
.submenubtn{
  margin: 4px;
}
.heart:hove{
  transform: scale(1.5);
}
