:root {
    --primary-color: #fd671a;
  }

.logo{
    width: 8rem;
    border: 0;   
}
.buscar{
    background-color: var(--primary-color);
    border: var(--primary-color);
    color: aliceblue;
}

/* Invisible texto */
figcaption {
    display:none; 
    transition: all .5s;
  }
  /* Visible texto */
  figure:hover > figcaption {
    display:block;
    transition: all .5s;
  }
  .buscar:hover{
    background-color: #cf4a07;
    border: #cf4a07;
    color: aliceblue;
}

.buscar:active{
  background-color: #cf4a07;
  border: #cf4a07;
  color: aliceblue;
}