:root {
    --primary-color: #fd671a;
  }

h1{
    color:var(--primary-color);
}
.boton{
    background-color: var(--primary-color);
    border: var(--primary-color);
}
.boton:hover{
    background-color: #cf5416;
    border: #cf5416;
}
.john{
    height: 9rem;
    border: 0;
}